.not-correct {
    color: red;
}

.maybe-correct {
    color: yellow;
}

.definitely-correct {
    color: green;
}

.char {
    font-size: 2rem;
    display: inline-block;
    background-color: rgb(27, 27, 27);
    border-radius: 0.3rem;
    width: 2rem;
    text-align: center;
}