.not-correct {
    background-color: rgb(224, 153, 153) !important;
}

.maybe-correct {
    background-color: rgb(247, 247, 148) !important;
}

.definitely-correct {
    background-color: rgb(168, 211, 168) !important;
}

.char {
    font-size: 2rem;
    display: inline-block;
    background-color: #D9D9D9;
    border-radius: 0.3rem;
    width: 2rem;
    margin-right: 0.115rem;
    text-align: center;
    color: var(--ion-color-color7);
}