@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --ion-color-color1: #4D8373;
    --ion-color-color2: #BFC9BD;
    --ion-color-color3: #D9E1EB;
    --ion-color-color4: #C2C8F8;
    --ion-color-color5: #EEECE7;
    --ion-color-color6: #F7F7F7;
    --ion-color-color7: #030303;
    --ion-color-color8: #F3958B;
    --ion-color-color9: #F5835C;

    --ion-background-color: var(--ion-color-color5);
    --ion-text-color: var(--ion-color-color7);

    [theme="dark"] {
        --ion-background-color: var(--ion-color-color7);
        --ion-text-color: var(--ion-color-color5);
    }
}

.toolbar{
    text-align: center;
}

.title {
    text-align: center;
    font-size: 36px; 
margin-top: 10px;
    font-family: 'Cursive', sans-serif; 
  }
  .title {
    font-family: 'Dancing Script', cursive; 
  }
  
.small-title{
    text-align: center ;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.centered-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70px;
    height: auto;
    bottom: 8%;
  }
  
