:root {
    --color1: #4D8373;
    --color2: #BFC9BD;
    --color3: #D9E1EB;
    --color4: #C2C8F8;
    --color5: #EEECE7;
    --color6: #F7F7F7;
    --color7: #030303;
    --color8: #F3958B;
    --color9: #F5835C;
  }