@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --ion-color-color1: #4D8373;
    --ion-color-color2: #BFC9BD;
    --ion-color-color3: #D9E1EB;
    --ion-color-color4: #C2C8F8;
    --ion-color-color5: #EEECE7;
    --ion-color-color6: #F7F7F7;
    --ion-color-color7: #030303;
    --ion-color-color8: #F3958B;
    --ion-color-color9: #F5835C;

    --ion-background-color: var(--ion-color-color5);
    --ion-text-color: var(--ion-color-color7);

    [theme="dark"] {
        --ion-background-color: var(--ion-color-color7);
        --ion-text-color: var(--ion-color-color5);
    }
}

.title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.small-title {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;

}

#top-title-wrap {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    align-items: center;
    justify-content: center;
}

ion-header {
    box-shadow: none !important;
}

#toolbar-logo {
    grid-column-start: 2;
    padding-top: 5px;
}

ion-card {
    box-shadow: none;
}

ion-button::part(native) {
    box-shadow: none;
}