.back-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    /* max-height: 550px; */
    overflow-y: auto;
    border: 5px solid var(--ion-color-color2);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.back-box::-webkit-scrollbar {
    display: none;
}

.syllable-button {
    display: flex;
    align-items: center;
    justify-content: center;
    --background: #EBD7FF;
    color: var(--ion-color-color7);
    /* border: 2px solid var(--ion-color-color1); */
    border-radius: 5px;
    cursor: pointer;
    /* PLS ROUND THE EDGES OF THE INNER BOX */
    transition: background-color 0.3s;
    font-size: 1.25rem;
    box-shadow: none;
    margin: 0;
    aspect-ratio: 1;
    text-transform: unset !important;
}

.syllable-button:focus {
    border: none;
    outline: none;
}

.syllable-button:hover {
    background-color: var(--ion-color-color9);
    color: var(--ion-color-color9);
}