.small-button {
    --background: #EBD7FF;
    --color: var(--ion-color-color7);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    border-radius: 1rem;
}

.small-button ion-title {
    font-size: 1rem;
    font-weight: normal !important;
}

.home-card-desc {
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.home {
    --background: #F6EFDD;
}

.pal-contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-padding {
    font-family: "Lora", serif;
    margin-left: 30px;
    margin-right: 30px;
}

.home-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-title {
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    margin-top: 0.5rem;
    font-size: 2rem;
    padding: 0;
}

.homepage-subtitle {
    text-align: start;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: normal;
}

.homepage-text-wrap {
    margin-left: 1.25rem;
    width: min-content;
}