/* Container for the search result cards */
.search-results-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

/* Small card styling */
.small-word-card {
    background-color: #EBD7FF;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Make the card look clickable */
    transition: background-color 0.2s ease;
}

.small-word-card:hover {
    background-color: var(--ion-color-color8);
    /* Change background color on hover */
}

.selected-words-title {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.25rem;
}

/* Word text with dynamic font size for longer words */
.word-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: center;
}

/* Reduce font size for long words */
.word-text.long {
    font-size: 12px;
    /* Adjust font size if the word gets too long */
}

.selected-words {
    margin-top: 10px;
}

.selected-words {
    margin-top: 10px;
}

.no-bullets {
    list-style-type: none;
    /* Remove bullet points */
    padding-left: 0;
}

.selected-word-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--ion-color-light);
    border-radius: 1rem;
}

.remove-button {
    margin-right: 10px;
    color: red;
    /* Make the 'X' red to indicate removal */
}

.practice-button {
    --background: #EBD7FF !important;
    color: var(--ion-color-color7) !important;
    margin: 0;
}

.practice-button::part(native) {
    border-radius: 1rem !important;
}