.scrollable-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

.word-card {
    text-align: center;
    width: inherit;
    transition: transform 0.3s, z-index 0.3s;
    background-color: #EBD7FF;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.word-card ion-card-header {
    padding: 1rem;
}

.word-card ion-card-content {
    padding: 0;
}

#bottom-bar {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
}

#bottom-bar-inner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

#record-button {
    margin: 0;
    margin-top: 0.5rem;
    aspect-ratio: 1;
    --background: #EBD7FF;
    --color: var(--ion-color-color7);
}

.statusBar {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 75px;
    font-size: 1rem;
    background-color: var(--ion-color-color6);
}

.transcription-wrap {
    margin-bottom: 0.5rem;
    line-height: 2rem;
}

.transcription-wrap:last-child {
    margin-bottom: 1rem;
}